.jumbotron {
    color: rgb(251, 255, 0);
}

.jumbotron {
    background-image: url(img/maskCloseup.jpg);
    background-size: cover;
    background-position: center;
}

.footer {
    background-color: rgb(102, 101, 101);
    color:rgb(251, 255, 0);
    width: 100%;
}

.container {
    margin: 0 auto;
}