.jumbotron {
    color: rgb(251, 255, 0);
    background-image: url(img/maskCloseup.jpg);
    background-size: cover;
    background-position: center;
}


.container {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

a {
    color: inherit;
    font-style: italic;
}

.socials {
    display: flex;
    justify-content: center;
}

#linkedinLogo, #fbLogo{
    margin: 0 15px;
    border-radius: 4px;
}

.card-header, .card-title {
    text-align: center;
}

footer {
    background-color: rgb(102, 101, 101);
    color:rgb(251, 255, 0);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-text {
    display: inline;
    font-size: 1.3em;
}

footer a:hover {
    text-decoration: none;
    color: inherit;
}